{{ template "header.html" }}

<h4 class="center">Remove a resource</h4>
<div class="row">
    <form class="col offset-m2 m8 s12" action="/remove" method="post">
        <div class="input-field">
            <input id="id" type="text" name="id" class="validate" required>
            <label for="id">ID</label>
        </div>
        <div class="right">
            <button class="btn cyan" type="submit">Remove</button>
        </div>
    </form>
</div>
<div class="row center green-text">
    {{ .Message }}
</div>

{{ template "footer.html" }}