{{ template "header.html" }}

<div>
    <h4>Resources</h4>
    {{ $length := len .ResourceTableElements.Resources }}
    {{ if eq $length 0 }}
        <div class="grey-text">
            List empty
        </div>
    {{else}}
        <table class="striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Resource</th>
                </tr>
            </thead>
            <tbody>
                {{range $element := .ResourceTableElements.Resources}}
                    <tr>
                        <td>{{ $element.Id }}</td>
                        <td>{{ $element.Resource }}</td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    {{end}}
</div>

{{ template "footer.html" }}