{{ template "header.html" }}

<h4 class="center">Update a resource</h4>
<div class="row">
    <form class="col offset-m2 m8 s12" action="/update" method="post">
        <div class="input-field">
            <input id="id" type="text" name="id" class="validate" required>
            <label for="id">ID</label>
        </div>
        <div class="input-field">
            <input id="resource" type="text" name="resource" class="validate" required>
            <label for="resource">New resource</label>
        </div>
        <div class="right">
            <button class="btn cyan" type="submit">Update resource</button>
        </div>
    </form>
</div>
<div class="row center green-text">
    {{ .Message }}
</div>


{{ template "footer.html" }}