{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "authorizr:v1",
  "name": "authorizrschema",
  "version": "v1",
  "title": "Authorizr API",
  "Description": "The authorizr API.",
  "documentationLink": "",
  "protocol": "rest",
  "icons": {
    "x16": "",
    "x32": ""
  },
  "labels": [],
  "baseUrl": "$ENDPOINT/api/v1/",
  "basePath": "/api/v1/",
  "rootUrl": "$ENDPOINT/",
  "servicePath": "api/v1/",
  "batchPath": "batch",
  "parameters": {},
  "auth": {},
  "schemas": {
    "User": {
      "id": "User",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "externalID": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "createAt": {
          "type": "string",
          "format": "date-time"
        },
        "urn": {
          "type": "string"
        }
      }
    },
    "CreateUserRequest": {
      "id": "CreateUserRequest",
      "type": "object",
      "properties": {
        "externalID": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "UpdateUserRequest": {
      "id": "UpdateUserRequest",
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        }
      }
    },
    "CreateUserResponse": {
      "id": "CreateUserResponse",
      "type": "object",
      "properties": {
        "user": {
          "$ref": "User"
        }
      }
    },
    "UpdateUserResponse": {
      "id": "UpdateUserResponse",
      "type": "object",
      "properties": {
        "user": {
          "$ref": "User"
        }
      }
    },
    "GetUserByIdResponse": {
      "id": "GetUserByIdResponse",
      "type": "object",
      "properties": {
        "user": {
          "$ref": "User"
        }
      }
    },
    "GetUserExternalIDsResponse": {
      "id": "GetUserExternalIDsResponse",
      "type": "object",
      "properties": {
        "user": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GetGroupsByUserIdResponse": {
      "id": "GetGroupsByUserIdResponse",
      "type": "object",
      "properties": {
        "user": {
          "type": "array",
          "items": {
            "$ref": "GroupIdentity"
          }
        }
      }
    },
    "Group": {
      "id": "Group",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "createAt": {
          "type": "string",
          "format": "date-time"
        },
        "urn": {
          "type": "string"
        },
        "org": {
          "type": "string"
        }
      }
    },
    "GroupIdentity": {
      "id": "GroupIdentity",
      "type": "object",
      "properties": {
        "org": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GroupMembers": {
      "id": "GroupMembers",
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "$ref": "User"
          }
        }
      }
    },
    "GroupPolicies": {
      "id": "GroupPolicies",
      "type": "object",
      "properties": {
        "policies": {
          "type": "array",
          "items": {
            "$ref": "PolicyIdentity"
          }
        }
      }
    },
    "CreateGroupRequest": {
      "id": "CreateGroupRequest",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "UpdateGroupRequest": {
      "id": "UpdateGroupRequest",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "CreateGroupResponse": {
      "id": "CreateGroupResponse",
      "type": "object",
      "properties": {
        "group": {
          "$ref": "Group"
        }
      }
    },
    "UpdateGroupResponse": {
      "id": "UpdateGroupResponse",
      "type": "object",
      "properties": {
        "group": {
          "$ref": "Group"
        }
      }
    },
    "GetGroupNameResponse": {
      "id": "GetGroupNameResponse",
      "type": "object",
      "properties": {
        "group": {
          "$ref": "Group"
        }
      }
    },
    "GetGroupsResponse": {
      "id": "GetGroupsResponse",
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "GroupIdentity"
          }
        }
      }
    },
    "GetGroupMembersResponse": {
      "id": "GetGroupMembersResponse",
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GetGroupPoliciesResponse": {
      "id": "GetGroupPoliciesResponse",
      "type": "object",
      "properties": {
        "attachedPolicies": {
          "type": "array",
          "items": {
            "$ref": "PolicyIdentity"
          }
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "org": {
          "type": "string"
        },
        "createAt": {
          "type": "string",
          "format": "date-time"
        },
        "urn": {
          "type": "string"
        },
        "statements": {
          "type": "array",
          "items": {
            "$ref": "Statement"
          }
        }
      }
    },
    "Statement": {
      "id": "Statement",
      "type": "object",
      "properties": {
        "effect": {
          "type": "string"
        },
        "action": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resources": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PolicyIdentity": {
      "id": "PolicyIdentity",
      "type": "object",
      "properties": {
        "org": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "CreatePolicyRequest": {
      "id": "CreatePolicyRequest",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "statements": {
          "type": "array",
          "items": {
            "$ref": "Statement"
          }
        }
      }
    },
    "UpdatePolicyRequest": {
      "id": "UpdatePolicyRequest",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "statements": {
          "type": "array",
          "items": {
            "$ref": "Statement"
          }
        }
      }
    },
    "CreatePolicyResponse": {
      "id": "CreatePolicyResponse",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy"
        }
      }
    },
    "UpdatePolicyResponse": {
      "id": "UpdatePolicyResponse",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy"
        }
      }
    },
    "GetPolicyResponse": {
      "id": "GetPolicyResponse",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy"
        }
      }
    },
    "ListPoliciesResponse": {
      "id": "ListPoliciesResponse",
      "type": "object",
      "properties": {
        "policies": {
          "type": "array",
          "items": {
            "$ref": "PolicyIdentity"
          }
        }
      }
    },
    "ListAllPoliciesResponse": {
      "id": "ListAllPoliciesResponse",
      "type": "object",
      "properties": {
        "policies": {
          "type": "array",
          "items": {
            "$ref": "PolicyIdentity"
          }
        }
      }
    },
    "GetPolicyGroupsResponse": {
      "id": "GetPolicyGroupsResponse",
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "GroupIdentity"
          }
        }
      }
    }
  }
}